LoadPlugin python
<Plugin python>
    LogTraces true

</Plugin>

# port forward:   10.19.227.59 is on hab-11 accessible
# by undercloud
# ssh -R 10.19.227.59:2003:localhost:2003 hab-11
<Plugin python>
    Import "sqlalchemy_collectd.server.plugin"

    <Module "sqlalchemy_collectd.server.plugin">
        listen "0.0.0.0" 25827

        # set to "debug" to show messages received
        loglevel "info"
    </Module>
</Plugin>
